.c-detail1 {
  height: 75vh;
  width: 98vw;
  margin-top: 30vh;

  .c-house-detail {
    margin: 8rem;
    height: 16vh;

    &__top {
      position: relative;
      bottom: 14vh;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__bottom {
      position: relative;
      bottom: 12vh;
      text-align: center;
    }

    &__img {
      width: 14rem;
      height: 17rem;
    }

    &__name {
      font-size: 32px;
      margin-bottom: 40px;
      font-weight: lighter;
    }

    &__logo {
      margin: 20px 0px;
      width: 160px;
      height: 200px;
    }

    &__text {
      font-family: "Lato";
    }
    &__goBack {
      display: flex;
      position: absolute;
      font-family: Arial, Helvetica, sans-serif;
      cursor: pointer;
      font-size: 24px;
      gap: 2vw;
      top: 3vh;
      left: 10vw;
    }

    &__link {
      color: var(--white);
    }
  }
}

@media only screen and (max-device-width: 900px) {
  .c-detail1 .c-house-detail__goBack {
    font-size: 18px;
    top: 2vh;
    &-arrow {
      width: 24px;
    }
  }
}
