.c-search__form {
  position: absolute;
  top: 5vh;
  left: 1.8vw;

  &__input {
    width: 42vw;
    border: none;
    border-bottom: 2px solid var(--color-white);
    background-color: transparent;
    font-size: 22px;
    color: white;
    padding-left: 42px;
    outline: none;
  }

  &__icon {
    position: relative;
    left: 24px;
  }
}

@media only screen and (max-device-width: 500px) {
  .c-search__form {
    &__input {
      font-size: 16px;
      border-bottom: 1px solid var(--color-white);
    }
  }
}
