.c-search__form {
  position: absolute;
  top: 5vh;
  left: 6.8vw;

  &__input {
    width: 39vw;
    border: none;
    border-bottom: 2px solid var(--color-white);
    background-color: transparent;
    font-size: 22px;
    color: white;
    padding-left: 42px;
    outline: none;
  }

  &__icon {
    position: relative;
    left: 24px;
  }
}

@media only screen and (max-device-width: 1200px) {
  .c-search__form {
    top: 3.5vh;
    left: 14vw;
    &__input {
      font-size: 14px;
      width: 32vw;
      border-bottom: 1px solid var(--color-white);
    }
  }
}
