@font-face {
  font-family: "Got";
  src: url("./assets/fonts/Game\ of\ Thrones.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato-Regular.ttf");
}

@import "./styles/color/color.settings";

@import "./styles/elements/elements.figure";
