.c-home{
    background-image: url('../../assets/images/throne.svg');
    height: 100vh;    
    width: 100vw;
    background-size: cover;
    &__title{
        text-align: center;
        display: block; 
        position: absolute;
        top: 18vh; 
        font-family: 'Got';
        color: var(--color-white);
        font-size: 9vw;
        font-weight: lighter;
        width: 100%;
    }
}

@media only screen and (max-device-width: 1800px) {
    .c-home{    
    background-position: center;
    background-size: cover; 
    max-height: 100vh;
    }
}