.c-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  

  &__nav {
    position: absolute;
    bottom: 8%;
    left: 7.5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 86vw;
  }
  &__link {
    font-family: "Got";
    color: var(--color-white);
    text-decoration: none;
    font-size: 32px;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: rgb(114, 112, 112);
    }
  }
}

@media only screen and (max-device-width: 600px) {
  .c-menu{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    bottom: 1vh;

    &__nav{
      justify-content: space-evenly;
    }
    &__link{
      font-size: 24px;
      line-height: 40px;
    }
  }
}

@media only screen and (max-device-width: 1700px) {
  .c-menu{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    bottom: 6vh;

    &__nav{
      justify-content: space-evenly;
    }
    &__link{
      font-size: 24px;
    }
  }
}
