.c-characters::-webkit-scrollbar {
  width: 2px;
  background-color: #443d3d;
  
}
.col-lg-2{
  flex-wrap: wrap;
  display: flex;
}
.c-characters::-webkit-scrollbar-thumb {
  width: 2px;
  height: 91.3px;
  background-color: white;
}

.c-characters {
  display: flex;
  align-items: center;
  margin-top: 54px;
  height: 77vh;
  width: 95vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  //background-color: red;
  &-container{
    display: flex;
    align-items: center;
    justify-content: center;
    //background-color: green;
    margin-left: 5vw;
    width: 90%;
  }

  &__link {
    text-decoration: none;
  }
  &__figure {
    cursor: pointer;
    height: 340px;
    width: 260px;
    margin: 0px;
    &:hover {
      .c-characters__figure__name {
        color: var(--color-white);
        background-color: rgba(0, 0, 0, 0.589);
        transition: all 0.5s ease-in-out;
      }
    }
    &__img {
      width: 90%;
      height: 90%;
      border-radius: 4px;
      border: 1px solid rgba(255, 255, 255, 0.253);
    }
    &__name {
      width: 80%;
      font-family: "GOT";
      position: relative;
      bottom: 26%;
      left: 5%;
      font-size: 2vh;
      color: transparent;
      padding: 12% 5%;
    
    }
  }
}


@media only screen and (max-device-width: 500px) {

  .c-characters{
      height: 71vh; 
      width: 98vw;
      &-container{
        margin-left: 20vw;
      }  

  }

  .c-characters__figure__name{
      bottom: 25%;

  }

}
